*{
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: #f1f1f1;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#app{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

iframe{
    width: 100%;
    height: 100%;
    border: 0;
    background: #fff;
}
textarea{
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: calc(100% - 16px) calc(100% - 16px);
    box-shadow: 0 0 0 .1 px rbga(255, 255, 255, .3);
    color: #fff;
    font-family: monospace;
    height: 100%;
    width: 100%;
    padding: 24px;
    resize: none;
}
textarea:focus{
    outline: 0;
}

#js{
    background-image: url('/assets/js.svg') ;
   
}
#html{
    background-image: url('/assets/html.svg') ;    
   
}
#css{
    background-image: url('/assets/css.svg') ;    
     
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: 1fr 1px 1fr;
  width: 100%;
  height: 100vh;
  
}

.vertical-gutter {
    cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  border: solid 1px #333;
}
.horizontal-gutter {
    cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  border: solid 1px #333;
}